

@media only screen and (min-width: 320px) {

html {
    scroll-behavior: smooth;
}

body{
    background-color:#E9F1E9;
    transition:.3s  ease;
    margin: 0;
    color:#2B3A2B;
}

a{
    color:#2B3A2B;
    text-decoration:none;
}

p{
    font-size:12px;
    -webkit-font-smoothing: antialiased;
    line-height:1.5em;
    font-family: helvetica-neue, sans-serif;
    color:#2B3A2B;
    font-weight: 400;
    letter-spacing:.03em;
    font-style: normal; 
}



header{
    position:fixed;
    display:grid;
    color:#2B3A2B;
    border-bottom:1px solid #2B3A2B;
    background-color:#E9F1E9;
    width:100%;
    z-index:3;
    grid-template-columns:60px 1fr 1fr;
    height:55px;
    grid-template-rows:1fr;
    grid-template-areas:
    "left middle right"
    ;

}


#statusbar{
    position:fixed;
    display:grid;
    border-bottom:1px dotted #89a489;
    background-color:#E9F1E9;
    width:100%;
    justify-content:space-around;
    z-index:2.5;
    margin-top:55px;
    grid-template-columns:auto auto auto auto auto;
    height:40px;
    text-transform:uppercase;
    grid-template-rows:1fr;
    white-space:nowrap;
    grid-template-areas:
    "item1 item2 item3 item4 item5"
    ;
    
}

.statusitem1, .statusitem2, .statusitem3, .statusitem4, .statusitem5{
    padding:7px 0 0 0;
    font-family: gopher, sans-serif;
    font-size: 8px;
    font-weight:500;
    letter-spacing:1px;
    opacity:.6;
}

.statusitem1{
    grid-area:item1;
}.statusitem2{
    grid-area:item2;
}.statusitem3{
    grid-area:item3;
}.statusitem4{
    grid-area:item4;
}.statusitem5{
    grid-area:item5;
}

.statusitem1:hover,.statusitem2:hover,.statusitem3:hover,.statusitem4:hover,.statusitem5:hover,.statusitembrick{
    font-weight:600;
    opacity:1;
}

#left{
    grid-area:left;
}
#middle{
    padding:15px 0px 0px 0px;
    grid-area:middle;
    font-family: gopher, sans-serif;
    font-size: 10px;
    font-weight:400;
    letter-spacing:0px;
}
#middle b{
    font-family: gopher, sans-serif;
    letter-spacing:1px;
    font-weight:600;
    font-size: 10px;}

#right{
    position:absolute;
    grid-area:right;
    right:0;
    padding:20px 20px 0px 0px;
    font-family: gopher, sans-serif;
    letter-spacing:1px;
    font-weight:600;
    font-size:14px;
    transition: .5s;
    opacity:1;
}


#left img{
    position:fixed;
    max-height: 34px;
    padding: 11px 0 0 12px;
    filter: grayscale(100%) sepia(100%) hue-rotate(40deg);
}



.sidemenu{
    position:fixed;
    height:100%;
    background-color:#EAF1EA;
    width:100%;
    top:0;
    left:100%;
    border-left:1px solid #2B3A2B;
    z-index:4;
    transition: .5s;
    display:grid;
    grid-template-columns:1fr;
    grid-template-rows:30px 1fr;
    grid-template-areas:
    "topmenu"
    "bottommenu"

}
.gettingback{
    position:absolute;
    top:0;
    right:0;
    height:40px;
    grid-area:topmenu;
}
.gettingback img{
    padding:15px 0px 0 0;
    height:35px;
}

.submenu{
    position:absolute;
    right:75px;
}
.sideclicked{
    left:55px;
    transition: .5s;

}

.linkage{
    padding: 20px 0px 0px 40px;
    grid-area:bottommenu;
}

h1{
    font-family:gopher, sans-serif;
    font-size:32px;
    line-height:80px;
    font-weight: 500;

}

.also{
    font-family:gopher, sans-serif;
    font-size:32px;
    font-weight:500;
    line-height:-80px;
}

.babies{
    padding-left:15px;
    line-height: 30px;
}
.babies img{
    animation-name: bouncy;
    animation-duration: 1500ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; }
h2{

    font-family:gopher, sans-serif;
    font-size:24px;
    font-weight:300;
}

h2 img{
    height:14px;
    padding-right:10px;
}



.preload{
    position:fixed;
    width:100%;
    height:100vh;
    z-index:100000;
    top:0;
    display:flex;
    justify-content:center;
    background-color:#E9F1E9;
}

.preload img{
    width:200px;
    height:200px;
    margin:auto auto;
}

.loader{
    background-color:transparent;
    animation-name: spin;
    animation-duration: 6000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
}

@keyframes spin {
    0% {
        transform:rotate(-0deg);
    }
    100% {
        transform:rotate(360deg);
    }
}









.webly{
    line-height:20px;
}



#everything{
    z-index:2;
    margin:0;
    left:0;
    width:100%;
    height:100%;
    padding:0 0 280px 0;
    transition: .3s;
}

#hole{
    display:flex;
    width:100%;
    color:#2B3A2B;
}
#intro{
    padding:120px 0 0 20px;
    background-color:#E9F1E9;
}

#intro img{
    height:17px;
    background-color:transparent;
    animation-name: globe;
    margin-left:1px;
    animation-duration: 120s;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
}

@keyframes globe {
    0% {
        transform:rotate(-0deg);
    }
    100% {
        transform:rotate(3600deg);
    }
}

h3{
    font-family: gopher, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size:32px;}

.nowrap{
    white-space:nowrap
}

.letters{
    margin-left:0px;
}

.cs{
    padding-top:80px;
}


#background{
    background-color:#E9F1E9;
    color:#2B3A2B;
    padding:60px 0 0 20px;
}

h4{
    font-family: gopher, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size:18px;
}
.workgrid h4{
    margin-top:10px;
}

.bodyodyody{
    background-color:#E9F1E9;
    margin-top:-15px;
    margin-bottom:0;
}
.showalittle{
    background-color:#E9F1E9;
    width:100%;
}


.showalittle img{
    padding:100px 0 0 15px;
    width: 24px;
    animation-name: bounce;
    animation-duration: 1500ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
}
@keyframes bounce {
    0% {
        transform:translatey(0);
    }
    50% {
        transform:translatey(10px);
    }
    100% {
        transform:translatey(0px);
    }
}


.casestudies{
    padding:120px 20px 80px 20px;
    background-color:#E9F1E9;
    border-bottom:1px solid #2B3A2B;
}








.workgrid{
    padding:0px 00px 0px 0px;
    display:grid;
    grid-template-columns:1fr;
    grid-template-rows:1fr 1fr 1fr 1fr;
    grid-row-gap: 40px;
    height:100%;
    grid-template-areas:
    "first"
    "second"
    "third"
    "fourth"
    ;
}

.first img, .second img, .third img, .fourth img{
    max-width:100%;
}

.first{
    grid-area:first;
}
.second{
    grid-area:second;
}

.third{
    grid-area:third;
}


.fourth{
    grid-area:fourth;
}
h5{
    margin-top:25px;
    font-family: gopher, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size:16px;
    padding:0px 0px 0px 0px;
    margin-bottom:0px;
}
h6{
    font-family: gopher, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size:24px;
    padding:0px 0px 0px 0px;
    margin-bottom:0px;
}
.bouncy{
    margin-bottom:25px;
}
.therest{
    margin:25px 0 25px 0;
}
.bouncy img{
    animation-name: bouncy;
    animation-duration: 1500ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; }


    @keyframes bouncy {
        0% {
            transform:translatex(0);
        }
        50% {
            transform:translatex(10px);
        }
        100% {
            transform:translatex(0px);
        }
    }
.tag{
    padding-right:10px;
    font-family: gopher, sans-serif;
    font-weight:500;
    letter-spacing:1px;
    text-transform:uppercase;
    letter-spacing:2px;
    color:#2B3A2B;
    margin-top:-15px;
    font-size:10px;
    padding:0px 0px 0px 0px;
}

.tag a{

    color:#2B3A2B;
}

.footercontainer{
    position:fixed;
    z-index:-1;
    opacity:1;
    background-color:#E9F1E9;
    bottom:60px;
    width:100%;
    padding:60px 0 0 0;
    display:grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows:1fr;
    grid-template-areas:
    "socials webdev"
    ;



}

.fcclicked{
    opacity:0;
    transition: .3s;
}
.bottomborder{
    padding:200px 0 0 0;
    height:20px;
    width:100%;
}


.socials img{
    max-height:12px;
    padding-right:10px;
}
.socials{
    padding:0 0 0 60px;
    grid-area:socials;
}
.webdev{
    grid-area:webdev;
    padding:0 0 0 20px;
}


.onclick{
    opacity:0;
    transition: .3s;
}
footer{
    display:none;
}

#picturesque{
    background-color:#DFE9DF;
    height:100vh;
}

.introgrid{
    display:grid;
    margin:0;
    padding:40px 20px 0 20px;
    grid-template-columns:1fr;
    background-color:#E9F1E9;
    grid-template-rows:auto auto auto;
    grid-template-areas:
    "title"
    "scope"
    "team"
    ;
}

.projecttitle{
    font-weight: 200;
    background-color:#E9F1E9;
    grid-area:title;
    height:100%;
    margin:0;
    padding:0px 0 40px 0px;


}
.projectscope{
    grid-area:scope;
    height:100%;
    margin:0;
    padding:0px 0 10px 0px;
}
.teamsize{
    grid-area:team;
    height:100%;
    margin:0;
    line-height:30px;
}


.quotegrid{
    display:grid;
    padding:40px 20px 0 20px;
    grid-template-columns:1fr;
    background-color:#E9F1E9;
    grid-template-rows:auto 1fr;
    grid-template-areas:
    "quotetext"
    "quotesource"
    ;
}

.quotetext{
    grid-area:quotetext;
    margin:0;
    height:100%;
    padding:0px 40px 0 40px;
    font-size:1.3rem;
    line-height:1.4em;
    letter-spacing:0px;
    font-family: 'Averia Serif Libre', cursive;
}
.quotesource{
    grid-area:quotesource;
    margin:0;
    height:100%;
    padding:20px 40px 0 0px;
    text-align: right;
    font-size:12px;
}

.backgroundgrid{
    display:grid;
    padding:60px 20px 0 20px;
    grid-template-columns:1fr;
    background-color:#E9F1E9;
    grid-template-rows:auto auto;
    grid-template-areas:
    "csbackground"
    "goal"
    "backgroundimage";

}
.casestudybackground{
    margin:0;
    grid-area:csbackground;
}

.goal{
    margin:0;
    padding:20px 0 0 0;
    grid-area:goal;
}

.backgroundimage{
    margin:0;
    padding:20px 0 0 0;
    grid-area:backgroundimage;
}
.backgroundimage img{
    width:100%;
}


.reviewgrid{
    display:grid;
    padding:40px 20px 0 20px;
    grid-template-columns:auto;
    background-color:#E9F1E9;
    grid-template-rows:auto auto auto auto auto;
    grid-template-areas:
    "reviewback"
    "details1"
    "details2"
    "reviewimage1"
    "reviewimage2"
;
}

.reviewback{
    grid-area:reviewback;
}

.reviewimage1{
    grid-area:reviewimage1;
    padding:20px 0px 0px 0px;

}
.reviewimage1 img, .reviewimage2 img{
    max-width:100%;
}
.reviewimage2{
    grid-area:reviewimage2;
    padding:20px 0px 0px 00px;
}
.reviewdetails1, .reviewdetails2{
    font-size:14px;
    -webkit-font-smoothing: antialiased;
    line-height:1.5em;
    font-family: helvetica-neue, sans-serif;
    color:#2B3A2B;
    font-weight: 400;
    letter-spacing:.03em;
    font-style: normal; 

}
.reviewdetails1{
    padding:0px 40px 0px 20px;
    grid-area:details1;
}
.reviewdetails2{
    padding:0px 40px 0px 20px;
    grid-area:details2;
}




.testinggrid{
    display:grid;
    padding:40px 20px 0 20px;
    grid-template-columns:auto;
    background-color:#E9F1E9;
    grid-template-rows:auto auto auto auto auto auto auto auto auto;
    grid-template-areas:
    "testingb"
    "testingi"
    "mtestingb"
    "t1"
    "tq1"
    "t2"
    "tq2"
    "t3"
    "tq3"
;
}

.testingbackground{
    grid-area:testingb;
}
.testingimage{
    padding:20px 0 20px 0;
    grid-area:testingi;
}
.testingimage img{
    max-width:100%;}
.moretestingb{
    margin:0;
    padding:0 0 20px 0;
    grid-area:mtestingb;
}
.t1{
    grid-area:t1;
}
.t2{
    grid-area:t2;
}
.t3{
    grid-area:t3;
}
.tq1{
    grid-area:tq1;
}
.tq2{
    grid-area:tq2;
}
.tq3{
    grid-area:tq3;
}
.tq1 p, .tq2 p, .tq3 p{
    margin:0;
    padding:20px 40px 0 40px;
    font-size:1.3rem;
    line-height:1.4em;
    font-family: 'Averia Serif Libre', cursive;
    letter-spacing:0px;
}
.testingquotesource{
    padding:20px 40px 20px 0px;
    font-size:12px;
    -webkit-font-smoothing: antialiased;
    line-height:1.5em;
    font-family: helvetica-neue, sans-serif;
    color:#2B3A2B;
    font-weight: 400;
    letter-spacing:.03em;
    font-style: normal; 
    float:right;

}
.subheaddetail{
    font-size:14px;
}

.iagrid{
    display:grid;
    padding:40px 20px 0 20px;
    grid-template-columns:auto;
    background-color:#E9F1E9;
    grid-template-rows:auto auto auto auto auto auto auto auto auto;
    grid-template-areas:
    "iaback"
    "iap1"
    "iat1"
    "iap2"
    "iat2"
    "iap3"
    "iat3"
    "iafin"
    "iapic"
;
}
.iaback{
    grid-area:iaback;
    padding:0 0 20px 0;
}
.iap1{
    grid-area:iap1;
}
.iat1{
    grid-area:iat1;
}
.iap2{
    grid-area:iap2;
}
.iat2{
    grid-area:iat2;
}
.iap3{
    grid-area:iap3;
}
.iat3{
    grid-area:iat3;
}
.iafin{
    grid-area:iafin;
}
.iapic{
    grid-area:iapic;
}

.iat1 p, .iat2 p, .iat3 p{
    padding:0 0 20px 0;
}

.iap1 img, .iap2 img, .iap3 img, .iapic img{
    max-width:100%;
    padding:20px 0 20px 0;
}

.wiregrid{
    display:grid;
    padding:40px 20px 0 20px;
    grid-template-columns:auto;
    background-color:#E9F1E9;
    grid-template-rows:auto auto auto auto auto auto auto;
    grid-template-areas:
    "wireback"
    "wireimg"
    "wireback2"
    "wireimg2"
    "wireimg3"
    "wireex1"
    "wireex2"
;

}

.wireback{
    grid-area:wireback;
    padding:0 0 20px 0;
}
.wireimg{
    grid-area:wireimg;
}
.wireback2{
    grid-area:wireback2;
    padding:20px 0px 20px 00px;
}
.wireimg2{
    grid-area:wireimg2;
}
.wireimg3{
    grid-area:wireimg3;
    padding:20px 0px 0px 00px;
}
.wireex1{
    padding:20px 0px 0px 00px;
    grid-area:wireex1;
}
.wireex2{
    grid-area:wireex2;
}
.wireex1, .wireex2{
    font-size:14px;
    -webkit-font-smoothing: antialiased;
    line-height:1.5em;
    font-family: helvetica-neue, sans-serif;
    color:#2B3A2B;
    font-weight: 400;
    letter-spacing:.03em;
    font-style: normal; }

.wireimg img, .wireimg2 img, .wireimg3 img{
    max-width:100%;
}
.lastfeaturegrid{
    display:grid;
    padding:20px 20px 0 20px;
    grid-template-columns:auto;
    background-color:#E9F1E9;
    grid-template-rows:auto auto auto ;
    grid-template-areas:
    "lastfeature"
    "lastfeatureimg"
    "lfl"
;
}
.lastfeature{
    grid-area:lastfeature;
}
.lastfeatureimg{
    grid-area:lastfeatureimg;
}
.lastfeatureimg img{
    max-width:100%;
}
.lfl{
    grid-area:lfl;
}

.testinggrid2{
    display:grid;
    padding:20px 20px 0 20px;
    grid-template-columns:auto;
    background-color:#E9F1E9;
    grid-template-rows:auto auto auto auto auto;
    grid-template-areas:
    "testingb2"
    "t12"
    "tq12"
    "t22"
    "tq22"
;
}

.testingbackground2{
    grid-area:testingb2;
}
.t12{
    grid-area:t12;
}
.t22{
    grid-area:t22;
}
.tq12{
    grid-area:tq12;
}
.tq22{
    grid-area:tq22
}
.tq12 p, .tq22 p{
    margin:0;
    padding:20px 40px 0 40px;
    font-size:1.3rem;
    line-height:1.4em;
    font-family: 'Averia Serif Libre', cursive;
    letter-spacing:0px;
}
.testingquotesource2{
    padding:20px 40px 20px 0px;
    font-size:12px;
    -webkit-font-smoothing: antialiased;
    line-height:1.5em;
    font-family: helvetica-neue, sans-serif;
    color:#2B3A2B;
    font-weight: 400;
    letter-spacing:.03em;
    font-style: normal; 
    float:right;

}


.stylegrid{
    display:grid;
    padding:20px 20px 0 20px;
    grid-template-columns:auto;
    background-color:#E9F1E9;
    grid-template-rows:auto auto;
    grid-template-areas:
    "styleb"
    "stylebimg"
;
}
.styleb{
    grid-area:styleb;
}
.stylebimg{
    padding:20px 0px 0px 00px;
    grid-area:stylebimg;
}

.stylebimg img, .styleimg2 img{
    max-width:100%;
}
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: #2B3A2B;
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 5px;
    width: 5px;
    margin: 0 2px;
    background-color: #C2D2C2;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #2B3A2B;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }


}




@media only screen and (min-width: 1024px) {




footer{
    display:grid;
    z-index:6;
    position:fixed;
    height:55px;
    background-color:#E9F1E9;
    bottom:0;
    left:0;
    width:100%;
    grid-template-columns:1fr 120px;
    grid-template-rows:1px 1fr;
    grid-template-areas:
    "sleft sright"
    "slinks rotm"
    ;

}
.sleft{
    width:100%;
    border-top:1px solid #2B3A2B;
    grid-area:sleft;
}
.sright{
    grid-area:sright;
}
.slinks{
    padding:18px 40px 0 0;
    position:absolute;
    grid-area:slinks;
    right:0;
    font-family: gopher, sans-serif;
    font-size:12px;
    font-weight:400;
    word-spacing:40px;
    letter-spacing:0px;
}

#intro{
    padding:64px 0 0 60px;
}

#background{
    padding:60px 0 0 60px;
}
.rotm{
    position:relative;
    grid-area:rotm;
}

.rotatingm img{
    position:fixed;
    bottom:18px;
    right:19px;
    width:75px;
    border-radius:55%;
    background-color:#E9F1E9;
    animation-name: men;
    animation-duration: 20000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
    transition: 1s;
}
.webly{
    line-height:20px;
}

.menbase img{
    position:fixed;
    bottom:-20px;
    right:-20px;
    width:150px;
    transition: 1s;
}

@keyframes men {
    0% {
    }

    100% {
        transform:rotate(360deg);
    }
}
.cmen img{
    animation-name: cmen;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
    transition: 3s;
}

@keyframes cmen {
    0% {
    }

    100% {
        transform:rotate(-360deg);
    }
}


.showalittle img{
    padding:100px 0 0 55px;
}

#right{
    opacity:0;
}


.cs{
    padding-top:40px;
}


 


.sideclicked{
    left:70%;
    transition: .5s;

}

.gettingback{
    position:absolute;
    top:0;
    right:00%;
    z-index:8;
    grid-area:topmenu;
    transition: .4s;
}
.gettingclicked{
    right:65%;
    transition: .4s;
}
.gettingclicked img{
    padding:15px 15px 0 0;
}
.workgrid{
    padding:0px 80px 0px 0px;
    height:100%;
    grid-template-columns:50% 50%;
    grid-template-rows:1fr 1fr;
    grid-column-gap: 40px;
    grid-row-gap: 80px;
    grid-template-areas:
    "first second"
    "third fourth"
    ;
}

.socials{
    padding:0 0 0 60px;
}
.webdev{
    padding:0 0 0 60px;
}
.findme{
    padding:0 0 0 60px;
}

.footercontainer{
    padding:40px 0 60px 0;
    grid-template-columns:25% 25%;


}

#everything{
    padding:0 0 360px 0;
    transition: .3s;
}

.casestudies{
    padding:80px 80px 80px 60px;
    transition:.3s;
}

.csclicked{
    padding:180px 31% 80px 60px;
    transition:.3s;
}

}